/* Style.css file for index.html
*/

body{
    background-color: #1b1b24;
}
body h1{
    color: #DEE5F0;
}

body .form-control{
    background-color: #272935;
    color: #bbbbbb;
    border-color: #272935;
    border: none;
}

body .form-control:focus{
    background-color: #21232c;
    border-color: #21232c;
    border:none;
    color: #bbbbbb;
}
body small.custom{
    color: #939AB0 !important;
}

body .unideb-card{
    background-color: #272935;
    margin: 10px 0px;
    box-shadow: 0 0 40px 8px rgba(0,0,0,.17);
    text-decoration: none;
}
body .unideb-card .card-body .row{
    height: 100%;
    line-height: 100%;
    padding: 5% 0;
    font-size: 22px;
    color: #bbbbbb;
}